# Configuration file for JupyterHub
import os

# Spawn single-user servers as Docker containers
c.JupyterHub.spawner_class = 'dockerspawner.DockerSpawner'
# Spawn containers from this image
c.DockerSpawner.container_image = '{{jupyterhub_docker_container_image}}'
# JupyterHub requires a single-user instance of the Notebook server, so we
# default to using the `start-singleuser.sh` script included in the
# jupyter/docker-stacks *-notebook images as the Docker run command when
# spawning containers.
spawn_cmd = 'start-singleuser.sh'
c.DockerSpawner.extra_create_kwargs.update({'command': spawn_cmd})
# Connect containers to this Docker network
c.DockerSpawner.use_internal_ip = True
c.DockerSpawner.network_name = '{{jupyterhub_network}}'
# Pass the network name as argument to spawned containers
c.DockerSpawner.extra_host_config = {'network_mode': '{{jupyterhub_network}}'}
# Explicitly set notebook directory because we'll be mounting a host volume to
# it.  Most jupyter/docker-stacks *-notebook images run the Notebook server as
# user `jovyan`, and set the notebook directory to `/home/jovyan/work`.
# We follow the same convention.
notebook_dir = '{{jupyterhub_notebook_dir}}'
c.DockerSpawner.notebook_dir = '{{jupyterhub_notebook_dir}}'
# Mount the real user's Docker volume on the host to the notebook user's
# notebook directory in the container
c.DockerSpawner.volumes = {'{{jupyterhub_notebook_dir_volume}}': '{{jupyterhub_notebook_dir}}',
                           '{{jupyterhub_unreviewed_example_dir_volume}}': '{{jupyterhub_unreviewed_example_dir}}',
}
c.DockerSpawner.read_only_volumes = {'{{jupyterhub_reviewed_example_dir_volume}}': '{{jupyterhub_reviewed_example_dir}}'}
c.DockerSpawner.extra_create_kwargs.update({'volume_driver': 'local'})
# Remove containers once they are stopped
c.DockerSpawner.remove_containers = {{jupyterhub_remove_containers}}
# For debugging arguments passed to spawned containers
c.DockerSpawner.debug = False
# Extra environment variables to set for the single-user server's process
c.DockerSpawner.environment = {
    'DASHBOARD_REDIRECT_URL': "{{jupyterhub_dashboard_redirect_url}}",
    'DASHBOARD_SERVER_URL': "{{jupyterhub_dashboard_server_url}}",
    'DASHBOARD_SERVER_AUTH_TOKEN': "{{jupyterhub_dashboard_auth_token}}",
}


# User containers will access hub by container name on the Docker network
c.JupyterHub.hub_ip = 'jupyterhub'
c.JupyterHub.hub_port = 8080

# Port used by reverse proxy to access Jupyterhub
c.JupyterHub.port = {{jupyterhub_port}}

# Authenticate users with LDAP
c.JupyterHub.authenticator_class = 'ldapauthenticator.LDAPAuthenticator'
c.LDAPAuthenticator.server_address = '{{jupyterhub_ldap_server_address}}'
c.LDAPAuthenticator.bind_dn_template = {{jupyterhub_ldap_bind_dn_template}}
c.LDAPAuthenticator.lookup_dn = {{jupyterhub_ldap_lookup_dn}}
c.LDAPAuthenticator.lookup_dn_search_filter = '{{jupyterhub_ldap_search_filter}}'
c.LDAPAuthenticator.lookup_dn_search_user = '{{jupyterhub_ldap_search_user}}'
c.LDAPAuthenticator.lookup_dn_search_password = '{{jupyterhub_ldap_search_password}}'
c.LDAPAuthenticator.user_search_base = '{{jupyterhub_ldap_user_search_base}}'
c.LDAPAuthenticator.user_attribute = '{{jupyterhub_ldap_user_attribute}}'
c.LDAPAuthenticator.allowed_groups = []
c.LDAPAuthenticator.escape_userdn = False

# Persist hub data on volume mounted inside container
c.JupyterHub.db_url = 'sqlite:////data/jupyterhub.sqlite'
c.JupyterHub.cookie_secret_file = '/data/jupyterhub_cookie_secret'

{% if jupyterhub_admin_users %}
c.Authenticator.admin_users = {"{{jupyterhub_admin_users | join(',')}}"}
{% endif %}
c.JupyterHub.admin_access = {{jupyterhub_admin_access}}
